details { @extend section;
          summary > p { display: inline; }
        }

dt, dt > a, h5, h6 { @extend .newthought;
                     clear: left;
                     font-style: normal;
                     font-weight: 400; }

// Run-in definition lists and headings
article > dl, section > dl { clear: left;
                             font-size: 1.4rem;
                             line-height: 2rem; }

dt, h5, h6 { float: left;
             margin: 0 1.4rem 0 0;
             padding: 0; }

// Tabular numbers for list items, small-caps Roman numerals
article ol, article ul {
  & > li::marker { font-variant: tabular-nums oldstyle-nums all-small-caps; }
}

// Fix width of dl inside li
li > dl {
  &, & > p { width: 100%; }
}

.smallcaps { font-variant: all-small-caps; }

// Fixes an edge case of figure~figure.marginnote alignment.
p~figure > img.marginnote, div.notes~figure > img.marginnote { margin-top: 1.6rem; }

// Dark colorscheme with a softer background
// TODO: switch code to Solarized-dark when in dark mode
@media (prefers-color-scheme: dark) {
  body { color: #fffff8;
         background-color: lighten(#111, 10%); }
  a:link { text-decoration: none;
           background: -webkit-linear-gradient(#111, #111), -webkit-linear-gradient(#111, #111), -webkit-linear-gradient(lighten(#fffff8, 10%), lighten(#fffff8, 10%));
           background: linear-gradient(#111, #111), linear-gradient(#111, #111), linear-gradient(lighten(#fffff8, 10%), lighten(#fffff8, 10%));
           -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
           -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
           background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
           background-repeat: no-repeat, no-repeat, repeat-x;
           text-shadow: 0.03em 0 #111, -0.03em 0 #111, 0 0.03em #111, 0 -0.03em #111, 0.06em 0 #111, -0.06em 0 #111, 0.09em 0 #111, -0.09em 0 #111, 0.12em 0 #111, -0.12em 0 #111, 0.15em 0 #111, -0.15em 0 #111;
           background-position: 0% 93%, 100% 93%, 0% 93%; }
  img { background-color: darken(#fffff8, 10%); } // Prevents transparent PNGs from becoming unreadable
  table { border-top: 2px solid #fffff8;
          border-bottom: 2px solid #fffff8; }
  td { border-top: 1px solid #fffff8; }
  th { border-bottom: 1px solid #fffff8; }
}
