/* The default x-height for code is slightly too large in side notes */
.marginnote code, .sidenote code { font-size: 0.9rem; }

/* Make "Home" link small */
p.signoff { font-size: 1.2rem; }

body { max-width: 1150px; }
